<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <form action="/result" method="POST" class="" >
            <label>Name</label>
            <input class="form-control form-control-sm" type="text" name="name" >

            <label >Email</label>
            <input class="form-control form-control-sm" type="Email" name="email">

            <label for="cars">City</label>
            <select  class="form-control form-control-sm" name="city" id="cars">
            <option value="Riyadh">Riyadh</option>
            <option value="Jeddah">Jeddah</option>
            </select>
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender"  value="Male">
                <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="Female">
                <label class="form-check-label" >Female</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" name="vehicle1" type="checkbox" value="Car" id="vehicle1">
                <label class="form-check-label" for="vehicle1">I have a car</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="vehicle1" type="checkbox" value="Bike" id="vehicle2" >
                <label class="form-check-label" for="vehicle2">I have a bike</label>
            </div>

            <textarea class="form-control form-control-sm" name="comment" id="comment" cols="30" rows="10"></textarea>
    
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
                
        
        </form>



    </div>
    
</body>
</html>