<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">




        <div class="card float-left reg">
            <div class="card-header bg-info">
                <h2>Sign up</h2>
            </div>
            <div class="card-body">
                <form class="form-group" action="/log_reg" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="which_form" value="reg">
                    <div class="form-group row">
                        <label for="first_name">First Name</label>
                        <input class="form-control " type="text" name="first_name" id="first_name">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="last_name">Last Name</label>
                        <input class="form-control" type="text" name="last_name" id="last_name">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="bod">Date of Birth</label>
                        <input class="form-control" type="date" name="bod" id="bod">
                    </div>
                    <div class="form-group row">
                        <label class=" col-form-label" for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="c-password">Confirm Password</label>
                        <input class="form-control" type="password" name="c-password" id="c-password">
                    </div>
                    <button class="btn btn-outline-dark " type="submit">Sign up</button>
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="card float-right log">
            <div class="card-header bg-info">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form action="/log_reg" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="which_form" value="login">
                    <div class="form-group row">
                        <label class=" col-form-label" for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email">
                    </div>
                    <div class="form-group row">
                        <label class=" col-form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <button class="btn btn-outline-dark " type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>