<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos & Ninjas with Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col">
                <h3>Add a Dojo</h3>
                <form action="/add_user" method="POST">
                    {%csrf_token%}
                    <input type="hidden" name="which_form" value="dojo_form">
                    <div class="div">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                    </div>

                    <div class="div">
                        <label for="city">City</label>
                        <input type="text" name="city" id="city">
                    </div>

                    <div class="div">
                        <label for="state">State</label>
                        <input type="text" name="state" id="state">
                    </div>

                    <div class="btn">
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>

            <div class="col">
                <h3>Add a Ninja</h3>
                <form action="/add_user" method="POST">
                    {%csrf_token%}
                    <input type="hidden" name="which_form" value="ninja_form">
                    <div class="div">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" id="first_name">
                    </div>

                    <div class="div">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" id="last_name">
                    </div>

                    <div class="div">
                        <label for="dojos">Dojo</label>
                        <select name="dojos" id="dojos">
                            {%for dojo in all_dojos%}
                            <option value="{{dojo.name}}">{{dojo.name}}</option>
                            {%endfor%}
                        </select>
                    </div>

                    <div class="btn">
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>

        <div class="section2">
            <h3>All the Dojos</h3>
            <ul>
                {% for dojo in all_dojos%}
                <li>Ninjas at the {{dojo.name}} Dojo - {{dojo.Ninjas.all.count}} <a href="{% url 'my_delete_dojo' dojo.id %}">Delete</a></li>
                <ul>
                    {% for ninja in dojo.Ninjas.all%}
                    <li>{{ninja.first_name}} {{ninja.last_name}}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>
        </div>


    </div>
</body>

</html>