@charset "windows-1256";

span{
    border: 0.3px solid;
   	padding: 0px 121px 0px 7px;
}

.forms {
    display: flex;
    justify-content: space-between;
}

.block-form {
    border: 0.3px solid;
    padding: 31px 29px;
    text-align: center;
    width: 244px;
    margin: 21px 0;
}

.activity-block {
    height: 169px;
    width: 100%;
    border: 0.3px solid;
    overflow: overlay;
}