
.card {
    margin: 34px 0 0 0;
    height: fit-content;

}


.reg{
    width: 604px;
}
.log {
    width: 373px;
}

.reg .form-group.row {
    display: inline-block;
    width: 264px;
    margin: 0 12px 0 0;
}

.log .form-group.row {
    width: 357px;
    padding: 15px 13px;
}


button.btn.btn-outline-dark {
    margin: 22px auto;
    display: block;
}
.result {
    width: 700px;
    margin: 70px auto;
}