.header {
    background: rgb(228, 226, 226);
    padding: 12px 31px;
}

.header h3 {
    display: inline-block;
}


.header a {
    margin: 9px 19px 0 0;
}


.section {
    display: inline-block;
    width: 49%;
    padding: 28px 77px;
    vertical-align: top;
    margin: 33px 0;
}
.card {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin: 33px 0;
}

.md-form {
    margin: 0 0 11px 0;
}

p {
    margin: 0 0;
}

.block {
    padding: 28px 13px;
}